.contenedor {
  display: grid;
  max-width: 100%;
  height: 100%;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header header header" "nav nav nav" "main main main" "footer footer footer";
}

footer {
  grid-area: footer;
  background-color: red;
}
footer #comentarioPie {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
footer #whatsapp {
  margin-right: 20px;
}
footer #whatsapp img {
  width: 4%;
  height: 4%;
  float: right;
}

header {
  grid-area: header;
  background-color: black;
}
header #logo {
  text-align: center;
}

main .contacto {
  display: flex;
  background-color: black;
  width: 60%;
  height: 100%;
  justify-content: center;
}
main .contacto h1 {
  font-size: 2rem;
  color: gray;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  line-height: 320%;
}
main .contacto h2 {
  font-size: 1rem;
  color: rgb(238, 7, 7);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
}
main .contacto h3 {
  font-size: 1rem;
  color: gray;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
}
main .mapa {
  width: 40%;
  background-color: rgb(245, 5, 5);
  text-align: center;
}

.galeria {
  text-align: center;
  justify-content: center;
}
.galeria .fotos {
  display: flex;
  width: 500px;
  height: 400px;
  justify-content: center;
}
.galeria .fotos img {
  width: 50px;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.galeria .fotos img:hover {
  cursor: crosshair;
  width: 400px;
  opacity: 1;
  filter: contrast(120%);
}

main {
  display: flex;
  grid-area: main;
  width: 100%;
  height: 100%;
  background-color: black;
}
main aside {
  width: 40%;
  background-color: black;
  text-align: center;
  padding: 20px;
}
main aside .imagenHome {
  position: relative;
  width: 100%;
  height: 100%;
}
main aside .imagenHome img {
  width: 75%;
  height: 100%;
  border-radius: 200px;
}
main section {
  width: 60%;
  background-color: black;
  text-align: center;
}
main section #texto {
  color: white;
  font-size: 1.2rem;
  padding: 50px;
  margin-inline: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 180%;
}

main #servicios {
  display: flex;
  background-color: black;
  width: 100%;
  height: 100%;
}
main #servicios section {
  width: 25%;
  height: 100%;
  text-align: center;
  margin-top: 20px;
}
main #servicios section img {
  width: 200px;
  height: 120px;
}
main #servicios section p {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 180%;
  font-size: 1rem;
  padding: 10px;
  margin-inline: 35px;
}

main {
  grid-area: main;
  width: 100%;
  height: 100%;
  background-color: black;
}
main section {
  text-align: center;
}
main section .contenedor {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* oculto lo que queda fuera del .contenedor */
  contain: paint;
  /* seccion carrito */
}
main section .contenedor .contenedor-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  /* width: 60%; */
  width: 100%;
  transition: 0.3s;
}
main section .contenedor .contenedor-items .item {
  max-width: 200px;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}
main section .contenedor .contenedor-items .item .img-item {
  width: 100%;
}
main section .contenedor .contenedor-items .item .img-item .item:hover {
  box-shadow: 0 0 10px #666;
  scale: 1.05;
}
main section .contenedor .contenedor-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main section .contenedor .contenedor-items .item .precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main section .contenedor .contenedor-items .item .boton-item {
  display: block;
  margin: 10px auto;
  border: 5px;
  background-color: black;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  border-color: gray;
  cursor: pointer;
}
main section .contenedor .carrito {
  border: 1px solid #666;
  width: 35%;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: auto;
  position: sticky !important;
  top: 0;
  transition: 0.3s;
  /* Estilos para ocultar */
  margin-right: -100%;
  opacity: 0;
}
main section .contenedor .carrito .header-carrito {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
main section .contenedor .carrito .carrito-item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: relative;
  border-bottom: 1px solid #666;
  padding: 20px;
}
main section .contenedor .carrito .carrito-item img {
  margin-right: 20px;
}
main section .contenedor .carrito .carrito-item .carrito-item-titulo {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main section .contenedor .carrito .carrito-item .selector-cantidad {
  display: inline-block;
  margin-right: 25px;
  color: white;
}
main section .contenedor .carrito .carrito-item .carrito-item-cantidad {
  border: none;
  font-size: 18px;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  padding: 5px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main section .contenedor .carrito .carrito-item .selector-cantidad i {
  font-size: 18px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}
main section .contenedor .carrito .carrito-item .carrito-item-precio {
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main section .contenedor .carrito .carrito-item .btn-eliminar {
  position: absolute;
  right: 15px;
  top: 15px;
  color: white;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  display: block;
  background: transparent;
  z-index: 20;
}
main section .contenedor .carrito .carrito-item .btn-eliminar i {
  pointer-events: none;
}
main section .contenedor .carrito .carrito-total {
  background-color: #f3f3f3;
  padding: 30px;
}
main section .contenedor .carrito .carrito-total .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main section .contenedor .carrito .carrito-total .btn-pagar {
  display: block;
  width: 100%;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
main section .contenedor .carrito .carrito-total .btn-pagar:hover {
  scale: 1.05;
}

nav {
  grid-area: nav;
  background-color: rgb(73, 73, 73);
}
nav .botonera {
  display: flex;
  font-size: 0;
  justify-content: center;
  list-style-type: none;
}
nav .botonera li a {
  text-decoration: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  margin: 85px;
}
nav .botonera li a #color {
  color: white;
  font-size: 1.3rem;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
}/*# sourceMappingURL=style.css.map */